@{
    ViewData["Title"] = "Home Page";
}

<input type="text" id="txtUser" placeholder="Användarnamn" />
<input type="text" id="txtMessage" placeholder="Skriv ditt meddelande här" />
<button id="btnSend">Skicka</button>

<ul id="messages"></ul>

<script src="\js\signalr\dist\browser\signalr.js"></script>
